label {
	display: block;
}

#grantheader {
	text-align: center;
}

.names {
	display: block;
	width: 15em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

header {
	background-color: rgba(0, 0, 0, 0.8);
	height: 2.5em;
	width: 100%;
}

#content {
	padding-top: 2.5em;
}

#mainlogo {
	height: 100%;
}

#newgrantbutton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	width: 13em;
	height: 2.5em;
}

#newgrantplus {
	z-index: 40;
	display: inline;
}

.grantpopup {
	position: absolute;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 11em;
	display: none;
	text-align: center;
	z-index: 50;
	background-color: white;
	border: 2px black solid;
}

.sublabel {
	font-style: italic;
	font-size: 50%;
}

.redopt {
	background-color: green;
}

.logbutton {
	float: right;
	height: 100%;
	background-color: rgba(255,0,0,0);
	color: white;
	border-right: none;
	border-top: none;
	border-bottom: none;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: black;
}

#signupform {
	padding: 5%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

#signinform {
	padding: 5%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

.grant {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.grantname {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
}

.grantagency {
	margin-top: 0;
	margin-bottom: 0;
}

.status {
}

.amount {
	margin-top: 0;
	margin-bottom: 0;
}

.pmonths {
	margin-top: 0;
	margin-bottom: 0;
}

.dates {
	margin-top: 0;
	margin-bottom: 0;
}

.summary {
	font-size: .7em;
	width: 10em;
}

#shield {
	position: fixed;
	  top: -50%; 
	  left: -50%; 
	  width: 200%; 
	  height: 200%;
	  z-index: 25;
	  display: none;
	  opacity: 0.4;
	  background-color: black;
 }
  
#content {
	padding-bottom: 0;
}

#description {
}

.editbtn {
	position: relative;
	z-index: 0;
	color: black;
}

.deletebtn {
	position: relative;
}

#downloadpopup {
	position: fixed;
	background-color: white;
	top: 50%;
	left: 50%;
	margin-left: -5em;
	margin-top: -5em;
	height: 10em;
	width: 10em;
	text-align: center;
	border: solid black 2px;
	display: none;
}

#downloadform {

}

#comparepopup {
	display: none;
	position: fixed;
	background-color: white;
	border: solid black 4px;
	top: 50%;
	left: 50%;
	width: 30em;
	height: 5em;
	margin-left: -15em;
	margin-top: -2.5em;
}

table {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	border-top: solid black 2px;
	border-bottom: solid black 2px;
}

td {
	padding-left: .5em;
	padding-right: .5em;
}

tr {
	border-right: solid black 2px;
	border-left: solid black 2px;
}
.deletetd {
	text-align: center;
}

.wideinput {
	width: 70%;
}

#newcpform {
	margin-bottom: 1em;
	width: 13em;
	height: 2.5em;
}
#newcpdiv {
	text-align: center;
}

#comparisonbox {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

#deleteconfirmbox {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
	display: none;
}

#filestorebox {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
	display: none;
}

#junkdiv {
	margin: 0;
}

.waiter {
	display: none;
	width: 4em;
	height: 4em;
	margin-left: auto;
	margin-right: auto;

}

#sourceselect {
	margin-bottom: 2em;
}

#nextcompareebtn {
	margin-top: 2em;
}

.edittd {
	text-align: center;
}

.filestoretd {
	text-align: center;
}

#filelist {
	margin-left: auto;
	margin-right: auto;
}

.filename {
	padding: 0px;
	text-align: left;
} 

.filewaiter {
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

th {
	text-align: center;
	padding-left: .1em;
	padding-right: .1em;
	border-bottom: 2px solid black;
}


#filesubmit {
	text-align: center;
}

#fileformspan {
	margin-left: auto;
	margin-right: auto;
}

.fa-times {
	float: right;
	font-size: 1.3em;
	margin-right: .1em;
	cursor: pointer;
}

.negmarg {
	margin-top: -1.45em;
}

.teamSelector
{
  cursor: pointer;
}

.fa {
	text-shadow: .1em .1em .1em grey;
}

#newgrantplus {
	text-shadow: none;
}

.fa.fa-user {
	color: white;
	float: right;
}

#wasexample {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: 2px solid black;
}

#cpexample {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: 2px solid black;
}

.templatelogo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 15%;
}

.popup {
	position: absolute;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 13em;
	background-color: white;
	border: 2px black solid;
	z-index: 50;
	box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.4);
	margin-bottom: 3em;
}

.actionth {
	max-width: 7em;
  }

.descdiv {
	position: absolute;
	z-index: 50;
	top: 50%;
	transform: translate(0%, -50%);
	border: 2px solid black;
	background-color: white;
	width: 20em;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
	display:none;
}

.grantagencyval {
}	

td {
	border: 1px solid black;
}

th {
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	white-space: normal;
}

.deletetd {
	width: 1em;
	border-right: none;
	border-left: none;
}

.filestoretd {
	width: 1em;
	border-right: none;
	border-left: none;
}

.edittd {
	width: 1em;
	border-right: none;
	border-left: 2px solid black;
}

.granttitle {
	border-right: 2px solid black;
	border-left: 2px solid black;
}

#titleth {
	border-right: 2px solid black;
	border-left: 2px solid black;
}

#spacertr {
	height: 4em;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-right: none;
	border-left: none;
}

.emptycol {
	border-left: none;
	border-right: none;
}

.agencycol {
	width: 13em;
}

.grantagency {
	width: 13em;
}
